{% extends 'template.html' %}
{% block title %}
    <h1>Categories</h1>
{% endblock %}
{% block body %}
<div>
    <h1>
        <a href="/category_create">Create new category</a>
    </h1>
    <br/>
    <br/>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.description}}</td>
            <td><a href="/category_create?id={{category.id_}}"> Update </a></td>
            <td><a href="/category_delete?id={{category.id_}}"> Delete </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}